In [2]:
import pandas as pd
import numpy as np

pd.set_option('display.max_columns', None)

In [3]:
df_limpieza = pd.read_csv("human_cognitive_performance.csv")


df_limpieza.sample(3)

,User_ID,Age,Gender,Sleep_Duration,Stress_Level,Diet_Type,Daily_Screen_Time,Exercise_Frequency,Caffeine_Intake,Reaction_Time,Memory_Test_Score,Cognitive_Score,AI_Predicted_Score
57426,U57427,54,Male,7.0,2,Vegetarian,8.2,Low,426,471.31,63,37.13,39.27
63100,U63101,23,Female,4.3,8,Non-Vegetarian,9.2,Low,70,492.53,73,26.81,31.69
23265,U23266,40,Female,9.3,4,Vegan,7.8,Medium,311,300.05,69,82.17,81.06

1. Cambiar mayuscula de las columnas a miniscula.

In [5]:
df_limpieza.columns

Index(['user_id', 'age', 'gender', 'sleep_duration', 'stress_level',
       'diet_type', 'daily_screen_time', 'exercise_frequency',
       'caffeine_intake', 'reaction_time', 'memory_test_score',
       'cognitive_score', 'ai_predicted_score'],
      dtype='object')

In [4]:
"""Función para renombrar las columnas"""

df_limpieza.rename(columns={columna: columna.lower() for columna in df_limpieza.columns}, inplace=True) #inplace=True, indica que la modificación se debe realizar directamente sobre el df

In [6]:
df_limpieza.columns

Index(['user_id', 'age', 'gender', 'sleep_duration', 'stress_level',
       'diet_type', 'daily_screen_time', 'exercise_frequency',
       'caffeine_intake', 'reaction_time', 'memory_test_score',
       'cognitive_score', 'ai_predicted_score'],
      dtype='object')

2. Eliminar la "U" en "user_id"

In [ ]:
def limpiar_columna(serie):
    return (
        serie
        .astype(str)           # aseguro que todo sea string
        .str.replace("U", "")  # eliminar "U"
        .astype(int)         # convierto a número
    )

In [8]:
columnas_a_convertir = ['user_id']

for col in columnas_a_convertir:
    df_limpieza[col] = limpiar_columna(df_limpieza[col])

In [9]:
df_limpieza.sample(3)

,user_id,age,gender,sleep_duration,stress_level,diet_type,daily_screen_time,exercise_frequency,caffeine_intake,reaction_time,memory_test_score,cognitive_score,ai_predicted_score
51013,51014,42,Male,6.0,4,Non-Vegetarian,4.4,Low,187,552.47,77,35.08,31.55
60261,60262,18,Female,5.5,8,Non-Vegetarian,3.3,Low,356,459.34,72,37.37,35.81
41360,41361,41,Male,6.2,7,Vegetarian,7.6,Low,250,490.74,97,43.71,40.25

3. Convertir a indice 'user_id'.

In [10]:
df_limpieza.set_index('user_id', inplace=True)

In [11]:
df_limpieza.sample(3)

,age,gender,sleep_duration,stress_level,diet_type,daily_screen_time,exercise_frequency,caffeine_intake,reaction_time,memory_test_score,cognitive_score,ai_predicted_score
user_id,,,,,,,,,,,,
40997,37,Female,4.5,4,Non-Vegetarian,11.5,High,391,204.24,54,78.89,80.72
44594,45,Male,4.6,3,Non-Vegetarian,5.6,Medium,255,209.84,42,80.73,80.89
60414,54,Female,4.3,5,Vegetarian,1.2,High,293,349.17,75,80.24,76.67

In [12]:
df_limpieza.to_csv("df_test.csv")